main {
    width: 100vw;
    height: auto;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: flex-start; /* Optionale Ausrichtung der Container */
    align-items: flex-start;
    gap: 30px;
    padding: 30px;
    width: 100%;
}   

.preview {
    /* border: solid;
    border-color: black;
    border-width: 1px; */
    width: 230px; /* Breite des Containers */
    height: 400px; /* Höhe des Containers */
    padding-right: 40px;
    box-sizing: border-box; /* Einschließen von Padding und Border in die Gesamtgröße */
}

.preview-img {
    width: 100%; /* Bild auf die gesamte Breite des Containers skalieren */
    height: auto; /* Automatische Höhe basierend auf der Breite */
    max-width: 230px; /* Maximale Breite des Bildes auf 100% des Containers begrenzen */
    max-height: 100%; /* Maximale Höhe des Bildes festlegen */
    object-fit: cover; /* Bild proportional zuschneiden und skalieren */
}

.untertitel {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}