/* GLOBAL STYLES */
@font-face {
    font-family: Roboto;
    src: url(https://fonts.google.com/share?selection.family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900)
}


* {
    margin: 0;
    padding: 0;
    z-index: 0;
}

/* HEADER/NAVIGATIONBAR */

.header {
    font-family: Roboto;
    background-color: #616161;
    position: sticky;
    z-index: 1000;
}


.title {
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s;
    font-size: 20px;
}

.title:hover {
    color: #b9b9b9;
    font-size: 23px;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
    background-color: red;
}

.sub-navbar {
    display: flex;
    align-items: center;
    background-color: #dddddd;
    height: 50px;
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;
}


.bar-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 20px;
}
    
.nav {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 100%;
}
    
.tp-br-ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
    
.tp-br-li {
    display: flex;
    text-align: center;
    align-content: center;
    /*background-color: #909090;*/
    height: 100%;
    font-size: 10px;
    transition: 0.2s;
    }
    
.tp-br-li:hover {
    background-color: #909090;
    
}

.header-link {
    display: inline-block;
    align-items: center;
    justify-content: center;
    color: #000000;
    text-decoration: none;
    margin: 10px;
    padding: 10px 20px;
    height: 100%;
    width: 60px;

}
