<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Header template</title>
        <link rel="stylesheet" type="text/css" href="../../CSS/header.css">
    </head>
    <body>
        <header>
            <div class="top-bar">
                <h1>HEADER</h1>
                <div class="img-ctn">
                    <img href="../../assets/images/logo.png" alt="Logo"/>
                </div>
            </div>
            <!--<svg></svg>-->
            <nav>
                <ul>
                    <li>LINK1</li>
                    <li>LINK2</li>
                    <li>LINK3</li>
                    <li>LINK4</li>
                    <li>LINK5</li>
                </ul>
            </nav>
        </header>
    </body>
</html>